<!doctype html>
<html ng-app="myApp">

<head>
    <title>Demo</title>
</head>

<body ng-controller="Ctrl">

	<h1>Angular Recursive Directive Example</h1>

	data dump: <span>{{treeData}}</span>

	<div>
		<h2>Simple Pattern</h2>
		<div q-recurse="treeData">
			<span>{{treeData.name}}</span>
			<ul>
				<li ng-repeat="childNode in treeData.children" q-recurse-node="childNode"></li>
			</ul>
		</div>
	</div>

	<div q-recurse="treeData">
		<span>{{treeData.name}}</span> -&gt;
		<div style="margin-left: 20px;"  q-recurse-node="treeData.children[0]"></div>
	</div>

	<div>
		<h2>Full Feature</h2>
		<div q-recurse="someData.myTree" q-recurse-var="treeVar">
			<div style="border-style:dotted; border-width:1px; border-color:#bbb;">
				Name: {{treeVar.name}} (Level: {{$depth}}-{{$parent.$index}})
				<button ng-if="$depth > 0" ng-click="removeChild($parent.$parent.treeVar, $parent.$index);">-</button>
				<ul ng-if="$depth < 3">
					<li ng-repeat="childNode in treeVar.children">
					<div q-recurse-node="childNode"></div>
					</li>
					<li>
					<input ng-model="treeVar.newName" type="text" placeholder="new child node name"/>
					<button ng-click="addChild(treeVar);">+</button>
					</li>
				</ul>
				<div ng-if="$depth >=3">(You can't create a new node whose level is g.t. 3.)</div>
			</div>
		</div>
	</div>

	<div>
		<h2>Error Pattern</h2>
		<div q-recurse="treeData">
			{{treeData.name}}
			<div q-recurse-node></div>
		</div>
	</div>

	<script src="js/angular.min.js"></script>
	<script src="js/angular-recursive.js"></script>
	<script src="js/main.js"></script>

</body>

</html>
